# Global Superstore Case Study
## Notebook 02: Exploratory Data Analysis

### Objective:
Perform exploratory data analysis (EDA) to uncover trends, distributions, and potential insights in the Global Superstore dataset.

In [1]:
# Import necessary libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load the cleaned dataset
df = pd.read_csv("cleaned_superstore.csv")

# Display dataset information
print("Dataset Information:")
df.info()

# Preview the first few rows of the dataset
print("\nPreview of the Dataset:")
print(df.head())

Dataset Information:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51290 entries, 0 to 51289
Data columns (total 25 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   category        51290 non-null  object
 1   city            51290 non-null  object
 2   country         51290 non-null  object
 3   customer_id     51290 non-null  object
 4   customer_name   51290 non-null  object
 5   discount        51290 non-null  float64
 6   market          51290 non-null  object
 7   order_date      51290 non-null  object
 8   order_id        51290 non-null  object
 9   order_priority  51290 non-null  object
 10  product_id      51290 non-null  object
 11  product_name    51290 non-null  object
 12  profit          51290 non-null  float64
 13  quantity        51290 non-null  int64
 14  region          51290 non-null  object
 15  sales           51290 non-null  int64
 16  segment         51290 non-null  object
 17  ship_date       51290 non-null  object
 18  ship_mode       51290 non-null  object
 19  shipping_cost   51290 non-null  float64
 20  state           51290 non-null  object
 21  sub_category    51290 non-null  object
 22  year            51290 non-null  int64
 23  market2         51290 non-null  object
 24  weeknum         51290 non-null  int64
dtypes: float64(3), int64(4), object(18)
memory usage: 9.8+ MB

Preview of the Dataset:
          category         city        country customer_id     customer_name  \
0  Office Supplies  Los Angeles  United States   LS-172304  Lycoris Saunders
1  Office Supplies  Los Angeles  United States   MV-174854     Mark Van Huff
2  Office Supplies  Los Angeles  United States   CS-121304      Chad Sievert
3  Office Supplies  Los Angeles  United States   CS-121304      Chad Sievert
4  Office Supplies  Los Angeles  United States   AP-109154    Arthur Prichep

   discount market  order_date        order_id order_priority  ... sales  \
0       0.0     US  2011-01-07  CA-2011-130813           High  ...    19
1       0.0     US  2011-01-21  CA-2011-148614         Medium  ...    19
2       0.0     US  2011-08-05  CA-2011-118962         Medium  ...    21
3       0.0     US  2011-08-05  CA-2011-118962         Medium  ...   111
4       0.0     US  2011-09-29  CA-2011-146969           High  ...     6

    segment   ship_date       ship_mode shipping_cost       state  \
0  Consumer  2011-01-09    Second Class          4.37  California
1  Consumer  2011-01-26  Standard Class          0.94  California
2  Consumer  2011-08-09  Standard Class          1.81  California
3  Consumer  2011-08-09  Standard Class          4.59  California
4  Consumer  2011-10-03  Standard Class          1.32  California

  sub_category  year        market2  weeknum
0        Paper  2011  North America        2
1        Paper  2011  North America        4
2        Paper  2011  North America       32
3        Paper  2011  North America       32
4        Paper  2011  North America       40

[5 rows x 25 columns]